.scroll-top {
  position: fixed;
  right: 20px;
  bottom: 50px;
  height: 20px;
  font-size: 2.5rem;
  z-index: 999;
  cursor: pointer;
  color: #F21B07;
}

.toast-container {
  position: fixed;
  top: 50% !important;
  left: 50% !important;
  transform: translateX(-50%) translateY(-50%) !important;
  background-color: rgba(0, 0, 0, 0.5) !important;
  padding-top: 21% !important;
  padding-right: 38% !important;
  padding-left: 38% !important;
  height: 100%;
  width: 100% !important;
}

.about,
.services,
.technologies,
.careers,
.contact,
.login,
.signup,
.resources {
  padding-top: 100px;
  min-height: 100vh !important;
  overflow-x: hidden !important;
}

/* Styles for Navbar.js */
.navbar {
  background: white !important;
  box-shadow: 0 0 4px 0;
}

.navbar-collapse {
  transition: .6s ease-in-out !important;
}

.navbar-brand {
  width: 144px !important;
  height: 61px !important;
}

.nav-link {
  font-size: 16px !important;
  color: black !important;
}

.navbar-toggler {
  box-shadow: none !important;
  border: none !important;
}

.nav-item>.active,
.nav-item>.active:hover {
  color: red !important;
  border-bottom: 3.6px solid red;
}

.nav-link:hover {
  color: orange !important;
}



/* Styles for Home.js */

.carousel {
  margin-top: 78px;
}

.carousel-inner {
  height: 635px;
}

.carousel-inner img {
  object-fit: fill !important;
}


.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: black !important;
}

.indicators {
  background-color: red !important;
  margin: 2rem 5px !important;
}

/* Features */

#features .title {
  height: 480px;
  text-align: left;
  padding-top: 60px;
  background: url('./images/bg.jpg') no-repeat center center;
  background-size: cover;
}

.feature-img img {
  height: auto;
  max-width: 100%;
}

.margin-top-up {
  margin-top: -7rem;
}

.single-feature {
  background: white;
  text-align: center;
  margin-top: 2rem;
  padding: 2.5rem 2.5rem 2.4rem 3.1rem;
  position: relative;
  border-radius: 1.56rem;
  transition: .2s ease-in;
  box-shadow: 0 0.9rem 2.5rem 0 rgba(0, 0, 0, 0.08);
}

.single-feature:hover {
  color: white;
  background: purple;
}

.feature-icon {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  font-size: 23px;
  border-bottom-left-radius: 25px;
  background: deeppink;
}


/* Styles for AboutUs.js */


.about-title {
  color: #033E8C;
}

.about-text {
  text-align: justify;
  font-size: 16px;
  line-height: 2rem;
}


/* Vision mission */
#vision-mission {
  margin-top: 5rem !important;
}

.bottom-content .card {
  height: 370px;
}

.bottom-content .card-text {
  font-size: 15px;
}

.bottom-content .card:hover {
  border: 1px solid lightskyblue !important;
}

.bottom-content .card:hover img {
  -webkit-filter: grayscale(100%) !important;
  filter: grayscale(100%) !important;
}

/* Partners */
.owl-carousel .item {
  margin: 3px;
}

.owl-carousel .item img {
  display: block;
  width: 100%;
  height: auto;
}

.owl-carousel {
  margin-bottom: 15px;
}


/* Promo */
.promo-section {
  margin-top: 5rem;
}

.single-promo-1 h5 {
  color: deeppink;
  text-transform: uppercase;
}

.single-promo-hover {
  transition: .2s ease-out;
  will-change: transform;
}

.single-promo-1 {
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.24);
  border-radius: 1.5rem;
  padding: 1.8rem 2.5rem 2.5rem;
  position: relative;
  overflow: hidden;
  margin-bottom: 2.5rem;
}

.single-promo-1::before {
  position: absolute;
  content: '';
  width: 0.06rem;
  height: 0.18rem;
  top: 0rem;
  left: 0rem;
  border-radius: 50%;
  transition: .2s ease-out;

}

.single-promo-1:hover::before {
  width: 100%;
  background: deeppink;
}

.single-promo-hover:hover {
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.64);
}




/* Styles for Services.js */
.services .card {
  height: 330px !important;
  transition: .2s ease-in-out;
  border-radius: 24px;
}

.services .card:hover {
  transform: scale(1.04);
  transition: .2s ease-in-out;
}

.services-ttl {
  color: rgb(0, 58, 139);
  font-size: 35px !important;
  font-weight: bold;
}

.services .card-text {
  font-size: small;
}

.services img {
  object-fit: contain;
  height: 45%;
}




/* Styles for Technologies.js */

.technologies .app-screen {
  padding-bottom: 5.4rem;
}

.technologies .swiper-slide {
  display: flex;
  justify-content: center;
  width: 250px !important;
  height: auto;
}

.technologies .swiper-slide .slider-image img {
  background-position: center;
  height: 200px !important;
  object-fit: contain;
  filter: drop-shadow(1px 1px 0px black);
}


.technologies .swiper-pagination-bullet {
  width: 0.7rem !important;
  height: 0.7rem !important;
}



/* Styles for Careers.js */

.career-title {
  text-align: center;
  font-size: 30px !important;
  font-weight: bold;
}

/* .search-job {
  border-radius: 15px !important;
  box-shadow: none !important;
  border: 2px solid skyblue !important;
  font-weight: bold !important;
} */

.search-container {
  position: relative;
  width: 285px;
  text-align: center;
  margin: 0px auto;
  position: relative;
  height: 42px;
  overflow: hidden;
  margin-bottom: 1rem;
}

.search-container input {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 100%;
  padding: 5px 20px;
  border-radius: 10px;
  outline: none;
  font-size: 20px;
  background: none;
  border: 1px solid rgb(184, 184, 184);
}

.search-container p {
  position: relative;
  top: 4px;
  left: 22px;
  text-align: left;
  font-size: 22px;
  color: rgb(165, 160, 160);
  font-weight: normal;
}

.search-container button {
  background: transparent;
  border: none;
  outline: none;
  position: absolute;
  top: 7px;
  right: 10px;
}

.search-container button svg {
  font-size: 24px;
  color: rgb(190, 190, 190);

}

.search-container .setPlace {
  transition: all 1s;
  transform: translateY(40px);
  animation: downToUp 2s both;

}

.search-container .removePlace {
  animation: upMove 1s forwards;
}

.search-container .stopText {
  animation: none;
  visibility: hidden;
}

@keyframes upMove {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-40px);
  }
}

@keyframes downToUp {
  0% {
    transform: translateY(40px);
  }

  100% {
    transform: translateY(0px);
  }
}









.scroll {
  overflow-y: scroll;
  height: 63vh;
}

.job-card {
  transition: .4s ease-in-out;
}

.job-card:hover {
  cursor: pointer;
}

.job-card .card-title,
.job-description .card-title {
  color: orange;
}

.job-description-card .card-head {
  position: absolute;
  background: white;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 4px solid rgba(169, 169, 169, 0.3);
}

.job-description-card .card-body {
  overflow-y: scroll;
  height: 41vh;
  margin-top: 10.5rem !important;
}

.job-description-card .card-body p,
span {
  font-size: 14px;
}

.job-description-card .card-head p {
  margin-bottom: 0;
}

.apply-btn {
  position: absolute;
  top: 0;
  right: 0;
}

.skills {
  font-size: 12px;
}

.newsletter {
  width: 80%;
  margin: 2rem 0;
}


.main-btn {
  background-color: red;
  color: white;
  padding: 0.63rem 1.88rem;
  border: 1px solid red;
  border-radius: 5px;
  font-weight: 600;
  transition: .3s ease-in-out;
}

.main-btn:hover {
  background: white;
  color: red;
}

.newsletter .form-control {
  height: 2.8rem;
  padding: 0 1.25rem;
  font-size: 0.88rem;
  width: 100%;
  border: none;
  border-radius: 0;
  background: transparent;
  border: 0.19rem solid gray;
  color: black;
  font-weight: 700;
}

.newsletter .form-control:hover,
.newsletter .form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: red;
}

.scroll::-webkit-scrollbar {
  width: 6px;
}

.scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.active-job {
  background: black !important;
  color: white;
  transition: .4s ease-in-out;
}


/* Contact us Form Styles */

.gmap_iframe {
  width: 100% !important;
  height: 130px;
}

.contact .form-control {
  border: 2px solid orange;
  border-radius: 15px;
  box-shadow: none !important;
}

.contact .form-control:focus {
  border: 2.4px solid purple !important;
}

.contact hr {
  color: darkblue;
}


/* Footer */

footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 2rem;
  background: black;
}

footer p {
  margin-bottom: 2px !important;
  font-size: 15px;
  color: darkgray !important;
}

footer p .icons:hover {
  color: orange !important;
}

.explore-link {
  text-decoration: none;
  color: darkgray !important;
}

.explore-link:hover {
  color: orange !important;
}

footer hr {
  width: 24px;
  color: yellow;
  background: white;
  height: 2px;
  margin: 0 0 5px 0;
}

/* Resources */
.resources .card:hover {
  cursor: pointer;
  background: orange;
  color: white;
}


/* Media Queries */

@media (max-width:1024px) {
  .carousel-inner {
    height: 635px;
  }

  .carousel-inner img {
    height: 635px;
  }
}

@media (max-width:991px) {

  .toast-container {
    padding-right: 30% !important;
    padding-left: 30% !important;
  }

  .services,
  .technologies,
  .careers,
  .contact {
    min-height: 80vh !important;
  }

  /* Navbar */
  .navbar {
    text-align: center;
  }

  .nav-item>.active,
  .nav-item>.active:hover {
    border-bottom: none;
  }

  /* Home */
  .carousel-inner {
    height: 435px;
  }

  .carousel-inner img {
    height: 435px !important;
  }

  /* About */

  .bottom-content .card {
    height: 350px;
  }

  /* Services */
  .services img {
    height: 44%;
  }

  /* Careers */
  .scroll {
    height: 45vh;
  }

  .job-description-card .card-body {
    height: 31vh;
  }

  .newsletter {
    width: 100%;
  }

}

@media (max-width:767px) {

  .toast-container {
    padding-right: 11% !important;
    padding-left: 11% !important;
  }

  /* Navbar */
  .nav-item>.active,
  .nav-item>.active:hover {
    border-bottom: none;
  }

  /* Home */
  .carousel-inner {
    height: 225px;
  }

  .carousel-inner img {
    height: 225px !important;
  }

  .indicators {
    margin: 0.5rem 5px !important;
  }


  /* About */
  .about-text {
    font-size: smaller;
  }


  /* Technologies */
  .technologies {
    height: 100vh !important;
  }

  .technologies .swiper-slide {
    width: 170px !important;
  }

  .technologies .swiper-slide .slider-image img {
    height: 120px !important;
  }

  /* Careers */

  .scroll {
    height: 41vh;
  }

  .job-description-card .card-body {
    height: 50vh;
  }

  .newsletter {
    width: 100%;
  }

  .newsletter .main-btn {
    width: 100%;
    margin-top: 1rem;
  }

}