.scroll-top {
  position: fixed;
  right: 20px;
  bottom: 50px;
  height: 20px;
  font-size: 2.5rem;
  z-index: 999;
  cursor: pointer;
  color: #F21B07;
}

.toast-container {
  position: fixed;
  top: 50% !important;
  left: 50% !important;
  transform: translateX(-50%) translateY(-50%) !important;
  background-color: rgba(0, 0, 0, 0.5) !important;
  padding-top: 21% !important;
  padding-right: 38% !important;
  padding-left: 38% !important;
  height: 100%;
  width: 100% !important;
}

.home,
.about,
.services,
.technologies,
.careers,
.contact {
  margin-top: 96px;
}


/* Styles for Navbar.js */
.navbar {
  background: white !important;
  box-shadow: 0 0 4px 0;
}

.navbar-brand {
  width: 144px !important;
  height: 61px !important;
}

.nav-link {
  font-size: 16px !important;
  color: black !important;
}

.navbar-toggler {
  box-shadow: none !important;
  border: none !important;
}


.nav-item>.active,
.nav-item>.active:hover {
  color: red !important;
  border-bottom: 3.6px solid red;
}

.nav-link:hover {
  color: orange !important;
}



/* Styles for Home.js */

.carousel {
  margin-top: 78px;
}

.carousel-inner {
  height: 565px;
}

.carousel-inner img {
  object-fit: fill !important;
}


.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: black !important;
}

.indicators {
  background-color: red !important;
  margin: 2rem 5px !important;
}


/* Styles for AboutUs.js */

.about-title {
  font-size: 35px !important;
  font-weight: bold;
  color: #033E8C;
}

.about-text {
  text-align: justify;
  font-size: 16px;
  line-height: 2rem;
}

/* Features */

#features .title {
  height: 480px;
  text-align: left;
  padding-top: 60px;
  background: url('./images/bg.jpg') no-repeat center center;
  background-size: cover;
}

.feature-img img {
  height: auto;
  max-width: 100%;
}

.features-middle h2,
.features-middle p {
  color: white;
}

.margin-top-up {
  margin-top: -7rem;
}

.single-feature {
  background: white;
  text-align: center;
  margin-top: 2rem;
  padding: 2.5rem 2.5rem 2.4rem 3.1rem;
  position: relative;
  border-radius: 1.56rem;
  transition: .2s ease-in;
  box-shadow: 0 0.9rem 2.5rem 0 rgba(0, 0, 0, 0.08);
}

.single-feature:hover {
  color: white;
  background: purple;
}

.feature-icon {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  font-size: 23px;
  border-bottom-left-radius: 25px;
  background: deeppink;
}



/* Styles for Services.js */
.services .card {
  height: 350px !important;
  transition: .3s ease-in-out;
}

.services .card:hover {
  transform: scale(1.04);
  transition: .3s ease-in-out;
}

.services-ttl {
  color: rgb(0, 58, 139);
  font-size: 35px !important;
  font-weight: bold;
}

.services .card-text {
  font-size: small;
}

.services img {
  object-fit: contain;
  height: 54%;
}



/* Styles for Technologies.js */

.app-screen {
  padding-bottom: 5.4rem;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  width: 250px !important;
  height: auto;
}

.swiper-slide .slider-image img {
  background-position: center;
  height: 200px !important;
  object-fit: contain;
  filter: drop-shadow(1px 1px 0px black);
}


.swiper-pagination-bullet {
  width: 0.7rem !important;
  height: 0.7rem !important;
}



/* Styles for Careers.js */

.career-title {
  text-align: center;
  font-size: 35px !important;
  font-weight: bold;
}

.career-deignation {
  color: coral;
}

.job-description {
  font-size: 12px;
}

.job-card {
  transition: .4s ease-in-out;
}

.job-card:hover {
  background: black;
  color: white;
  transition: .4s ease-in-out;
}

.newsletter {
  width: 40%;
  margin: 2rem auto;
}


.main-btn {
  background-color: red;
  color: white;
  padding: 0.63rem 1.88rem;
  border: 1px solid red;
  border-radius: 5px;
  font-weight: 600;
  transition: .3s ease-in-out;
}

.main-btn:hover {
  background: white;
  color: red;
}

.newsletter .form-control {
  height: 2.8rem;
  padding: 0 1.25rem;
  font-size: 0.88rem;
  width: 100%;
  border: none;
  border-radius: 0;
  background: transparent;
  border: 0.19rem solid gray;
  color: black;
  font-weight: 700;
}

.newsletter .form-control:hover,
.newsletter .form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: red;
}




/* Contact us Form Styles */

.contact-left-side {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gmap_iframe {
  width: 100% !important;
}

.social-media a:hover {
  color: #F21B07;
}



footer {
  position: relative;
  bottom: 0 !important;
  right: 0;
  left: 0;
}


/* Media Queries for Small screens and Surface Duo */

@media only screen and (min-width: 280px) and (max-width: 653px) {

  .newsletter {
    width: 85%;
  }

  .newsletter .main-btn {
    width: 100%;
    margin-top: 1rem;
  }

  #mySelect {
    width: 100px !important;
  }

  .nav-item>.active {
    border-bottom: none;
  }

  .container {
    margin-top: 78px;
  }

  .carousel {
    margin-top: 60px;
  }


  /* Navbar Media query */
  .navbar-brand {
    width: 100px !important;
    height: 50px !important;
  }

  .nav-link {
    font-size: 14px !important;
  }

  .navbar-toggler {
    width: 40px;
    height: 31px;
    padding: 0 5px 6px !important;
  }


  /* Home Slide Media query */

  .indicators {
    width: 16px !important;
    height: 1px !important;
  }

  .carousel-inner {
    height: 100% !important;
  }

  .carousel-inner img {
    height: 220px !important;
  }

  .carousel-control-next-icon {
    width: 15px !important;
    height: 15px !important;
  }

  .carousel-control-prev-icon {
    width: 15px !important;
    height: 15px !important;
  }

  /* About us Media query */
  .about-text {
    text-align: justify !important;
    font-size: 8px !important;
  }

  .about-title {
    font-size: 30px !important;
  }

  /* Services Media query */
  .serv-card {
    height: 221px !important;
  }

  .serv-card-img-top {
    height: 110px;
  }


  .serv-card-text {
    font-size: 5px;
  }

  .serv-card-title {
    font-size: 6px;
  }

  .serv-card-body {
    text-align: center;
  }

  .serv-ttl {
    font-size: 30px !important;
  }

  /* Technology Media query */

  .tech-card {
    height: 70px !important;
  }

  .tech-img {
    height: 50px !important;
  }

  .tech-ttl {
    font-size: 24px !important;
  }


  /* Career Media query */
  .career-deignation {
    font-size: small !important;
  }

  .career-text {
    text-align: justify !important;
    font-size: 6px !important;
  }

  .send-profile {
    font-size: x-small;
  }

  .career-title {
    font-size: 30px !important;
  }

  .subscribe-row {
    transform: scale(0.6);
  }


  /* Contact us Media Queries */
  .contact-title {
    font-size: 32px !important;
  }

  .contact-card {
    width: 100%;
  }

  .address {
    font-size: x-small;
  }

  .toast-container {
    padding-top: 78% !important;
    padding-right: 15% !important;
    padding-left: 15% !important;
  }
}


/* media queries for surface duo screen */
@media only screen and (max-width: 720px) and (min-width: 540px) {

  .newsletter {
    width: 85%;
  }

  .nav-item>.active {
    border-bottom: none;
  }

  .carousel-inner {
    height: 100% !important;
  }

  .carousel-inner img {
    height: 350px !important;
  }

  /* Services Media query */
  .serv-card {
    height: 320px !important;
  }

  .serv-card-text {
    font-size: small !important;
  }

  .serv-card-img-top {
    height: 100px !important;
  }

  .serv-card-title {
    color: green !important;
    font-size: small !important;
  }

  .toast-container {
    padding-top: 50% !important;
  }

}


/* media queries for medium screen */
@media only screen and (min-width: 768px) and (max-width: 1024px) {

  .nav-item>.active {
    border-bottom: none;
  }

  .newsletter {
    width: 85%;
  }

  .carousel-inner {
    height: 100% !important;
  }

  .carousel-inner img {
    height: 390px !important;
  }

  .toast-container {
    padding-top: 58% !important;
    padding-right: 25% !important;
    padding-left: 25% !important;
  }
}